@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  line-height: 1.7;
  position: relative;
  background-color: #375e45 !important;
  height: 100vh;
}

.header {
  box-shadow: 0px 8px 6px -6px #1e2124;
  /* background-color: #385e47 !important; */
  background-color: #1e2124;
  color: #fff !important;
}

.header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.header h3 {
  margin: 0.5rem 0 0.5rem 0;
}

.product-footer-btn {
  border-radius: 10px !important;
  background: #1e212400 !important;
  /* background: linear-gradient(to right bottom, #1e212400, #1e212400) !important; */
  width: 100% !important;
  height: max-content !important;
  border-radius: 0 0 10px 10px !important;
  box-shadow: none !important;
  border: 0 !important;
}

.next-arrow-image {
  margin: auto 10px auto 10px !important;
}

.user-details {
  padding: 5px 0px 0px 0px !important;
}

.profile-image-container {
  margin: auto !important;
}

.profile-image-cropper {
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-image {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.profile-drop-down {
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
  align-items: center !important;
  text-align: center !important;
  align-content: center !important;
}

.company-logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  /* border: #000000 solid; */
}

.green-tick {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
  vertical-align: unset !important;
}

.user-role {
  font-size: 10px;
  margin: 4px 0 0 0 !important;
  color: #ffffff !important;
}

.card-container {
  color: white;
  border-radius: 10px !important;
  background: linear-gradient(to right bottom, #323941, #061018);
}

.card-container p {
  margin: 10px 10px 0 10px;
  opacity: 0.6;
  font-size: 11px;
}

.card-container h6 {
  margin: 2px 10px 10px 10px;
  font-weight: 300;
  font-size: 17px;
}

.card-body {
  padding: 1rem 1rem 1rem 1rem !important ;
  background: #17191c;
  /* background: linear-gradient(to right bottom, #323941, #061018); */
  /* border-radius: 0 0 10px 10px !important; */
}

.card-body-with-round-bottom {
  padding: 1rem 1rem 1rem 1rem !important ;
  background: #17191c;
  /* background: linear-gradient(to right bottom, #323941, #061018); */
  border-radius: 0 0 10px 10px !important;
}

.card-body p {
  margin: 0px 10px 0 10px;
  opacity: 0.6;
  font-size: 14px;
}

.card-title {
  cursor: pointer;
  margin: 0 !important;
}

.gender-btn {
  box-shadow: none !important;
  border: 0 !important;
}

.input[type="radio"] {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.rotating-arrow {
  margin: 25px 25px auto auto;
}

.arrow-up {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.arrow-down {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.product-heading {
  width: 100%;
}

.colored-circle-container {
  display: block !important;
  border-radius: 10px 10px 10px 10px !important;
  background: linear-gradient(to right bottom, #323941, #06101871);
}

.colored-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 6px 6px 0px 6px;
  cursor: pointer;
}

.colored-circle-with-border {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 6px 6px 0px 6px;
  border: 0.1rem solid black;
  outline: 0.2rem solid white;
}

.checkmark {
  display: inline-block;
  transform: rotate(45deg);
  height: 25px;
  width: 12px;
  margin-left: 60%;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
}

.totalCounter {
  text-align: center;
}

.radio-button {
  cursor: pointer;
}

.login-page-card {
  margin: 60px 20px 20px 20px !important;
  color: #000000;
  background-color: #375e45 !important;
  border-radius: 20px !important;
}

.login-page-card-body,
.manage-users-card-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 20px !important;
}

.login-button,
.add-user-button {
  display: block !important;
}

.manage-users-card {
  margin: 20px !important;
  color: #000000;
  background-color: #375e45 !important;
  border-radius: 20px !important;
}

.forgot-password {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.add-product-button {
  display: block !important;
  margin-top: 30px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 30px !important;
  width: 15rem;
}

.delete-bin-image {
  margin-top: auto !important;
  margin-bottom: auto !important;
  margin-right: 10px !important;
  height: 14px;
  cursor: pointer;
}

.add-more-btn {
  font-size: 12px !important;
}

.text-inside-colored-input {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  /* text-shadow: 0 0 2px #fff; */
}

.operations-icons {
  /* margin: auto !important; */
  margin-left: auto !important;
  margin-bottom: auto !important;
  margin-top: auto !important;
}
